* {
    margin: 0px;
    padding: 0px;
}

.container-fluid{
	width: 50%;
	margin: auto;
}
.containerwidth{
  width: 60%;
}

.invisible {
	display: none;
}
.container{
	width: 50%;
	margin: auto;
}
/*@media(max-width: 400px){
	body{
		margin: 0px;
	}
}*/
.space{
  padding-top: 30px;
  padding-bottom: 30px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 301px) {
  div.example {
    font-size: 10px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 13px;
    width: 90%;
  }
}

.dark{
  /*border: 10px;*/
  /*border: 2px solid ;*/
  font-weight: bold;
}


/*button*/
/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: black;
}

.svg-append {
  box-sizing: border-box;
  border: 1px solid #a5b0b6;
  background-image: url('icon.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
  background-size: 1.5rem 1.5rem;
}
.btncolor{
  border:3px solid #0C22CB;
  color: #0C22CB;
  border-radius: 4px;
}